#main-head{
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.blog{
color: aquamarine;
background-color: darkgoldenrod;
text-align: justify;
border: 5px solid rgb(8, 8, 8);
border-radius: 10px;
margin: 10px;
padding: 10px;
}

.blog-head{
    color: red;
    font-family: Arial, Helvetica, sans-serif
}
.author-name{
    color: blue;
}
